/*.tab-group {
  width: 100%;
  margin-top: 2em;
  float: left;
  background-color: rgba(7,7,7,.2);
  padding: 0 2em;
  text-align: left;
  height: 22em;
}

.tab {
  position: relative;
  width: 100%;
}

.tab input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999;
  opacity: 0;

}

.tab label {
  color: #D94423;
  font-weight: 100;
  display: block;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: .03em;
  font-size: 1.5em;
}

.tab-content {
  max-height: 0;
  overflow: auto;
  transition: all .35s;
}

.tab-content p {
  font-family: "proxima-nova", sans-serif;
  text-align: left;
  font-weight: 100;
  font-size: .95em;
  color: #F2EBDF;
  margin-left: 0;
}

.tab input:checked ~ .tab-content {
    max-height: 30em;
  }

/*-----------MEDIA QUERIES-------------------------

@media (min-width: 320px) and (max-width: 414px) {
  .tab label {
     font-size: 1.5em;
     margin-left: -.7em;
  }

}

@media (min-width: 415px) and (max-width: 500px) {
   .tab label {
      font-size: 2em;
   }

   .tab-content p {
      font-size: 1em;
   }
 }

 @media (min-width: 501px) and (max-width: 900px) {
     
     .tab-group {
      height: 27em;
    }

     .tab label {
      font-size: 2.5em;
   }

   .tab-content p {
      font-size: 1.2em;
   }
}

 @media (min-width: 901px) {
      .tab label {
        font-size: 2.5em;
     }

      .tab-content p {
        font-size: 1.4em;
     }
}   

@media (min-width: 701px) and (max-width: 1300px) {
     .tab-content {
       width: 90%;
     }
}

@media (min-width: 1301px) {
      .tab-content {
        width: 80%;
      }
} 

/*



