.tab-group {
  width: 100%;
  float: left;
  background-color: rgba(7,7,7,.2);
  padding: 0 2em;
  text-align: left;
  height: 40em;
}

.tab {
  position: relative;
  width: 100%;
}

.tab input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999;
  opacity: 0;

}

.tab label {
  color: #FFF;
  display: block;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: .03em;
  font-size: 1.9em;
  text-shadow: 2px 2px #000;

}

.tab-content {
  max-height: 0;
  overflow: auto;
  transition: all .35s;
  width: 100%;
  /*font-size: .65em;*/
  font-weight: normal;
  color: #fff;
}

.tab-content p {
  margin: 1em 0;
  text-align: left;

}

.tab input:checked ~ .tab-content {
    max-height: 30em;
  }





