header {
  background: url("../Images/Blocbox/BBbackground-1.png")top center no-repeat;
  text-align: left;
  background-size: cover;
  height: 40em;
}
.overlay {
  background: linear-gradient(25deg,#c43e12 0%, #781e00 96%);
  opacity:.9;
  height: 10em;
}
h1 {
  font-family: Comfortaa, Arial, Helvetica;
  font-size: 1.4em;
  margin-left: 2em;
  margin-top: 2.2em;
  color: white;
}
.nav {
  margin-left: 3em;
}
.nav a {
  color: white;
}
.nav a:hover {
  color: #12c49b;
}
.nav li a:active {
  border-bottom: 2px solid #12c49b;
}
ul li {
  font-family: Comfortaa;
  font-size: .9em;
  text-decoration: none;
  text-align: left;
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}

i {
  width: 50px;
  height: 50px;
  margin-top: 1.8em;
  background: #00785c;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #12c49b; 
  text-align: center;
  display: inline-block;
}
.fa {
  padding-top: 8px;
  color: white;
}
.BB {
  margin-top: 11.5em;
}
.Box {
  height: 75%;
  width: 75%;
}
