body {
  background-color: #4D4B47;
}


.Line {
  border-bottom: 1px solid #F2EBDF;
}


h2.MyTitle {
  color: #F2EBDF;
}

.off-canvas-list {
  background-color: #D94423;
}

.tab-bar {
  background-color: #4D4B47;
}

.left-small {
  border: none;
}

.tab-bar .menu-icon {
  margin-left: 15px;
  margin-top: 4px;
}

h1.PageTitle {
  color: #D94423;
  font-weight: 100;
}

.Landing1 {
  padding-top: 1em;
}

.social-container {
  text-align: center;
}

.social-icons {
  border: none;
  background-color: #D94423;
  font-size: 24px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 1em;
}

.CopyText {
  color: #F2EBDF;
  margin-top: 1em;
  text-align: center;
}

.left-off-canvas-menu {
  background-color: #D94423;
}







/*NEW MEDIA QUERIES*/
@media (min-width: 320px) and (max-width: 400px) {
  
  .hamburger {
    margin-left: 1.8em;
    margin-top: 1em;
    width: 65%;
  }

  h2.MyTitle {
    font-size: .9em;
    font-weight: 100;
    letter-spacing: .7px;
    text-align: center; 
    margin-top: 2px;
    margin-left: 9px;
  } 

  .line {
    border-bottom: 1px solid #F2EBDF;
  }

  h1.PageTitle {
    letter-spacing: 2px;
    margin-top: 1em;
    margin-left: .4em;
  }

  .CP1Mockup {

  }

  .CP1HeroTitle{
    width: 200px;
    margin-left: 1em;
    margin-bottom: .75em;
  }

   .Arrow {
    color: #D94423;
    font-weight: 100;
    font-size: 60px;
    margin-top: .18em; 
    margin-left: .5em;
  }

  .PC1Mockup {
    margin-top: 2em;
  }

  .PC1HeroTitle {
    margin-left: 2em;
    margin-bottom: 1em;
  }

  .BBMockup {
    margin-left: 1em;
    margin-bottom: 2em;
    transform: rotate(20deg);
    width: 350px;
  }

  .BB1HeroTitle {
    margin-left: 2.5em;
    margin-bottom: 1em;
  }

  .CopyText {
    font-size: .8em;
  }
}


/*---------OLD PORTFOLIO CODE STARTS HERE-------------------------*/

h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.9em;
  letter-spacing: .25px;
  font-weight: 100;
  text-align: center;
  /*text-shadow: 2px 1.5px 0px #222;*/
}

p {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  text-align: left;
  margin-left: 7%;
  margin-right: 7%;
  line-height: 1.5em;
}

.top {
  text-align: center;
}

.overlay {
  background: #525B5C;
  z-index:5;
  position: fixed;
  top:0;
  width: 100%;
  height: 8em;
  border-bottom:2px inset;
  border-color: #00E7FF;
  box-shadow: 0 1px 1px 1px;
}

.overlayAM {
  background: #525B5C;
  z-index:5;
  position: relative;
  top:0;
  width: 100%;
  height: 8em;
  border-bottom:2px inset;
  border-color: #00E7FF;
  box-shadow: 0 1px 1px 1px;
}

.title {
  font-family: "proxima-nova", Arial, Helvetica;
  font-weight: 100;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: .5em;
  color: #fff;
  /*text-shadow: 2px 1.5px 0px #222;*/

}

.nav {
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: .02em;
}

.nav a {
  color: #fff;
}

.nav li a:hover {
  color: #FF7400;
}

.selected {
  border-bottom: 1px solid #00E7FF ;
}

.nav li {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.7em;
  font-weight: 100;
  text-decoration: none;
  text-align: left;
  list-style: none;
  display: inline-block;
  margin-top: 1.7em;
  margin-left: 8px;
  margin-right: 8px;
  letter-spacing: 1px;
}

.top-icons {
  text-align: center;
}

.top-icons li {
  font-size: 14px;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  margin-top: -3.3em;
}

i {
  width: 50px;
  height: 50px;
  margin-top: 1.8em;
  background: #525B5C ;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #00E7FF; 
  text-align: center;
  display: inline-block;
}

i:hover {
  color: #FF7400;
}

.fa {
  color: white;
}

.fa-twitter {
  padding: 12px;
}

.fa-linkedin {
  padding: 10px 10px 10px 11px;
}

.fa-github {
  padding: 11px;
}

.fa-envelope {
  padding-right: 10px;
}

.textbox {
  background-color: rgba(81,91,92,.5);
  height: 20em;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 10em;
}

.Box {
  margin-top: 14em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  width: 250px;
}

.BBproject {
  background: url(../Images/Blocbox/BlocboxBG.png) center no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 35em;
  margin-top: 5em;
}  

.Box2 {
  margin-top: 15em;
  width: 250px;
}  


.tools {
  padding-top: 15em;
  width: 100%;
}

.DarkGray {
  background-color: #525B5C;
  text-align: center;
  padding-top: 1em;
  border-bottom: 1px solid #fff;
}

.Docs {
  padding-bottom: 3em;
}

.hyperlink {
  color: #00E7FF;
}

.hyperlink:hover {
  color: #FF7400;
}

.hyperlinkOrange {
  color: #FF7400;
}

.hyperlinkOrange:hover {
  color: #fff;
}

.blue {
  color: #00E7FF;
  padding-top: .5em;
  /* padding-bottom: .5em; */
}

.pBB {
  color: #fff;
  padding-bottom: 1em;
  padding-top: 1em;
}


.Background {
  margin-top: -1.3em;
  background-color: #76898A;
  text-align: center;
}


#BBResearchDocs {
  margin-bottom: 1em;
}

.BBResearch2 {
    background-color: #525B5C;
    padding: 0 0 3em 0;
    text-align: center;
}

#UPimg {
  margin-bottom: 2em;
}


.CA {
  background-color: #76898A;
  margin-top: -1.4em;
  text-align: center;
}

.BrightBlue {
  background-color: #00E7FF;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

.BottomDiv {
  background-color: #525B5C;
  margin-top: -.2em;
  padding-bottom: 3em;
  text-align: center;
}

.gray {
  color: #525B5c;
  padding-top: 1.5em;
  padding-bottom: .5em;
}

.pGray {
  color: #525B5c;
  padding: 1em 0 1em 0;
}


#CAimg {
  max-width: 80%;
  border: .2em solid;
  border-color: #525B5C;
  margin-bottom: 1.5em;
}

.BBUserFlows {
  background-color: #525B5c;
  text-align: center;
  padding: 2em;
}

#BBsketches {
  margin-bottom: 2em;
  border-top: .2em solid;
  border-bottom: .2em solid;
  border-color: #525B5C;
}

#BBLogo1 {
  border-top: .2em solid;
  border-bottom: .2em solid;
  border-color: #525B5C;
  margin-bottom: 2em;
}

#BBLogo2 {
  border-top: .2em solid;
  border-bottom: .2em solid;
  border-color: #525B5C;
  margin-bottom: 2em;
}

#BBFont {
  border-top: .2em solid;
  border-bottom: .2em solid;
  border-color: #525B5C;
  margin-bottom: 2em;
}



#BBUFimg {
  border-top: .2em solid;
  border-bottom: .2em solid;
  border-color: #525B5C;
  margin-bottom: 1.5em;
}

.LightGray {
  text-align: center;
  background-color: #76898A;
  padding-top: 1em;
  padding-bottom: 2em;
}

#BBBalsamiqWF {
  max-width: 70%;
  border: .2em solid;
  border-color: #525B5c;
  margin-bottom: 2em;
}

#BBBlackWhiteWF {
  max-width: 70%;
  border: .2em solid;
  border-color: #525B5c;
  margin-bottom: 2em;
}

#BBColorWF {
  max-width: 70%;
  border: .2em solid;
  border-color: #525B5c;
  margin-bottom: 2em;
}

.Code {
  background-color: #00E7FF;
  text-align: center;
  margin-top: -1.4em;
  padding-bottom: 2em;
}

#BBCode {
  max-width: 70%;
  border: .2em solid;
  border-color: #525B5c;
}

.PCBG {
  background: url("../Images/PAYCRAVE/PCBG.png") center no-repeat;
  background-size: cover;
  height: 35em;
}

.PCOverlay {
  background: linear-gradient(180deg, #525B5C, 50%, #76898A 90%);
  height: 100%;
  opacity: .3;
  margin-top: 7em;
}

.CPBG {
  background: url("../Images/ClearPlate/CPBG.png") center no-repeat;
  background-size: cover;
  height: 40em;
}

.CPOverlay {
  background: linear-gradient(180deg, #525B5c, 50%, #76898A 90%);
  height: 100%;
  opacity: .3;
}

#CPimg {
  position: absolute;
}

.NewCPHero {

}

#PCimg {
  position: relative;
  margin-top: -10em;
  bottom: 0;
}

#PCListView {
  width: 20%;
}

#PCListView2 {
  width: 20%;
}

#PCDetailView1 {
  width: 20%;
}

#PCDetailView2 {
  width: 20%;
}

#PCMenu1 {
  width: 20%;
}

#PCMenu2 {
  width: 20%;
}

.GoTo {
  background: #76898A;
  border-top: 3px solid;
  border-color: #fff;
}

#ViewProjects {
  color: #eaeaea;
}

.PCHeading {
  width: 320px;
  margin-left: 2em;
}


#CP {
  background: url("../Images/ClearPlate/CPMobileDisplay.png") center -40% no-repeat;
  height: 37em;
  background-size: 30em;
  margin-top: 7em;
}

#overlay2 {
  height: 37em;
  margin-top: 0em;
  width: 100%;
  position: absolute;
  background-color: #00E7FF;
  opacity:.85
}

.CP1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.CPlogo {
   margin-top: 14em;
   width: 250px;
}

.PC1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#Paycrave {
  background: url("../Images/PAYCRAVE/PAYCRAVE_IPHONE6.png") center no-repeat;
  height: 35em;
  background-size: 65em;
}

#overlay3 {
  height: 35em;
  width: 100%;
  position: absolute;
  background: #76898A;
  opacity:.9;
}

#PCCA {
  border: .2em solid;
  border-color: #333;
}

#PCWireframes {
  border: .2em solid;
  border-color: #333;
  margin-bottom: 1em;

}

.PClogo {
  margin: 14em auto .5em auto;
  width: 250px;
}

.Bottom {
  height: 30em;
  background-color: #525B5C;
}


.Main {
  background:url("../Images/Me/Rich-6.png")left no-repeat;
  background-size: cover;
  height: 40em;
}

.BB {
  background: url("../Images/Blocbox/BBbackground.png") center no-repeat;
  text-align: center;
  background-size: cover;
  height: 35em;
  width: 100%;
}


.bold {
  font-weight: 300;
  color: #fff;
}


.Button {
  font-family: comfortaa, arial, helvetica;
  padding: .5em;
  text-align: center;
  margin-left: 0;
  margin-right: 3em;
  color: #fff;
  border: solid;
  border-radius: 10px;
  border-color: #00E7FF; 
  max-width: 15em;
  padding: 2%;
  background-color: #525B5C;
}

.Button:hover {
  border-color: #FF7400;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #525B5C;
  width: 100%;
  border-top: .2em solid;
  border-color: #fff;
  clear: both;
}

.Copyright {
  font-size: .7em;
  color: #eaeaea;
}

.message a {
  color: #00E7FF;
}

.message a:hover {
  color: #FF7400;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #FF7400;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center2:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #00E7FF;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center2:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*-----------CONTACT FORM--------------------------------------------------*/
     .ContactBackground {
      height: 150%;
      background-color: #525B5C;
    }
    
    .ContactForm {
      padding-top: 13em;
    }

    .ContactForm input {
      height: 5em;

    }

    *:focus{
      outline: none;
    }

    .ContactForm input:focus {
      background-color: #525b5c;
      color: #fff;
    }

    .ContactForm input, select , textarea {
      color: #fff;
    }

    label {
      color: #fff;
      font-weight: 100;
      letter-spacing: 1px;
    }


    #ContactHeading {
      color: #fff;
    }

    input[type="text"] {
      background-color: #525b5c;
      border-bottom-color: #00e7ff;
      border-left: none;
      border-right: none;
      border-top: none;
      box-shadow: none;
    }

    :-moz-placeholder {
      color: #fff;
    }

    ::-webkit-input-placeholder {
      color: #fff;
      font-family: "proxima nova";
      font-size: 1.2em;
      font-weight: 200;
    }

    input[type="email"] {
      background-color: #525b5c;
      border-bottom-color: #00e7ff;
      border-left: none;
      border-right: none;
      border-top: none;
      box-shadow: none;
    }

    input[type="tel"] {
      background-color: #525b5c;
      border-bottom-color: #00e7ff;
      border-left: none;
      border-right: none;
      border-top: none;
      box-shadow: none;
    }

    textarea {
      background-color: #525b5c;
      border: none;
      box-shadow: none;
      color: #fff;
    }

    textarea:focus {
      background-color: #525B5C;
    }


    button {
      height: 1.5em;
      margin: auto;
      padding: 10px 30px 30px 30px;
      text-align: center;
      background-color: transparent;
      border: solid .5px;
      border-color: #00E7FF;
      color: #fff;
      box-shadow: #000 0px 2px 5px;
    }

    button:hover {
      border-color: #FF7400;
      background-color: transparent;
    }



/*-----------MEDIA QUERIES--------------------------------------------------*/

  
@media screen and (min-width: 320px) and (max-width:460px) {

  .title {
    font-size: 1em;
    margin-top: 1.2em;
    margin-bottom: 0;
    font-weight: 400;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-weight: 300;
  }

  .nav {
    margin-bottom: 0;
  }

  .nav li {
    font-size: .8em;
    font-weight: 300;
    margin-left: 4px;

  }

  .top-icons {
    margin-top: 1em;
  }

  .pBB {
    padding: 1em 0 1em 0;
  }

  .pGray {
    padding: 1em 0 2em 0;
  }

   .PCHeading {
    width: 320px;
    margin-left: 2em;
  }

  #PCCA {
    border-left: none;
    border-right: none;
  }

  #PCDraftLogo {
    width: 40%;
  }

  #PCFinalLogo {
    width: 40%;
  }

  #PCSketch1 {
    border-left: none;
    border-right: none;
  }

  #PCSketch2 {
    border-left: none;
    border-right: none;
  }

   .GoTo {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #ViewProjects {
    margin: 0;
    padding: 2% 0;
    background-color: rgba(81,91,92,.2);
  }

  .center-GoTo {
    padding-top: 3%;
  }

  #BBGoTo {
     width: 40%;
     padding-top: 5%;
     padding-bottom: 2%;
  }

  #PCGoTo {
    width: 40%;
    padding-top: 5%;
    padding-bottom: 1%;
  }

  #PCGoTo2 {
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;

  }

  #CPGoTo {
    width: 50%;
    padding-left: 1em;
  }

  #CPimg {
    width: 300px;
    margin-top: -10em;
    margin-left: 30px;
  }


  .Docs {
    width: 90%;
    zoom: 50%;
    -webkit-transform: scale(1.0);
  }

  .Main {
    height: 35em;
    background-position: 30% 32%;
    background-size: 200%;
  }

  .tab label {
     font-size: 1.3em;
  }

  .tab-group {
    height:35.3em;
    padding-top: 9em;
    margin-top: -3em;
  }

  .tab-content p {
    font-size: .9em;
  }


  .tab-content p {
    font-size: .9em;
  }

  .footer {
    height: 5em;
    text-align: center;
  }

  .Copyright {
    margin-top: 1.5em;
    text-align: center;
    margin-bottom: 0;
  }

  .message {
    margin-bottom: 1em;
    text-align: center;
  }
}

@media screen and (min-width: 461px) and (max-width:640px) {

    .title {
      font-size: 1.4em;
      margin-top: 1em;
    }

    .nav {
      margin-top: -1.7em;
    }

    .nav li {
      font-size: 1em;
    }

    .top-icons {
      margin-top: -.5em;
    }
  

    .top-icons li {
      padding-top: .4em;
    }


   .PCHeading {
    width: 350px;
    margin-left: 2em;
  }

  #PCDraftLogo {
    width: 40%;
  }

  #PCFinalLogo {
    width: 40%;
  }

  #BBLogo1 {
    width: 60%;
    border: .2em solid;
    border-color: #525B5C;
  }

  #BBLogo2 {
    width: 60%;
    border: .2em solid;
    border-color: #525B5C;
  }

  #BBFont {
    width: 60%;
    border: .2em solid;
    border-color: #525B5C;
  }

  #BBUFimg {
    width: 70%;
    border: .2em solid;
    border-color: #525B5C;
  }

  .GoTo {
    text-align: center;
    display: inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .center-GoTo {
    padding-top: 3%;
  }

  #BBGoTo {
     width: 30%;
     padding-top: 5%;
     padding-bottom: 2%;
  }

  #PCGoTo {
    width: 35%;
    padding-top: 5%;
    padding-bottom: 1%;
  }

  #PCGoTo2 {
    width: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #ViewProjects {
    margin: 0;
    padding: 2% 0;
    background-color: rgba(81,91,92,.2);
  }

  #CPGoTo {
    width: 45%;
    padding-bottom: 1%;
    padding-left: 1em;
  }


  #CPimg {
    width: 300px;
    margin-top: -10em;
    margin-left: 30px;
  }

   .Docs {
    width: 85%;
  }

   .Main {
    height: 38em;
    background-size: 180%;
    background-position: 25% 30%;
  }

  .tab label {
     font-size: 1.5em;
  }

  .tab-group {
    height:38em;
    padding-top: 10em;
    margin-top: -2.5em;
  }

  .tab-content p {
    font-size: 1em;
  }

  .footer {
    height: 5em;
    text-align: center;
  }

  .Copyright {
    margin-top: 1.5em;
    text-align: center;
    margin-bottom: 0;
  }

  .message {
    margin-bottom: 1em;
    text-align: center;
  }  
} 

@media screen and (min-width: 641px) and (max-width: 899px) {

    .title {
      font-size: 1.7em;
      margin-top: .5em;
    }

    .nav {
      margin-top: -2em;
    }

    .nav li {
      font-size: 1em;
    }

    .top-icons {
      margin-top: -.2em;
    }
  

    .top-icons li {
      padding-top: .4em;
    }

    #BBResearchDocs {
      max-width: 60%;
    }

    #BBsketches {
    width: 70%;  
    border: .2em solid;
    border-color: #525B5C;
    }

    #BBLogo1 {
      width: 70%;
      border: .2em solid;
      border-color: #525B5C;
      margin-bottom: 2em;
    }

    #BBLogo2 {
      width: 70%;
      border: .2em solid;
      border-color: #525B5C;
      margin-bottom: 2em;
    }

    #BBFont {
      width: 70%;
      border: .2em solid;
      border-color: #525B5C;
      margin-bottom: 2em;
    }

    #UPimg {
      max-width: 60%;
    }

    #BBUFimg {
      width: 70%;
      border: .2em solid;
      border-color: #525B5C;
    }

    .PCHeading {
      width: 350px;
      margin-left: 2em;
    }

    #PCDraftLogo {
      width: 30%;
    }

    #PCFinalLogo {
      width: 30%;
    }

    .GoTo {
      text-align: center;
      padding-top: 3%;
      padding-bottom: 3%;
    }

    .center-GoTo {
      padding-top: 3%;
    }

    #ViewProjects {
      font-size: 1.6em;
      margin: 0;
      padding: 2% 0;
      background-color: rgba(81,91,92,.2);    
    }

  #BBGoTo {
     width: 25%;
     padding-top: 5%;
     padding-bottom: 2%;
  }

  #PCGoTo {
    width: 30%;
    padding-top: 5%;
    padding-bottom: 1%;
  }

  #PCGoTo2 {
    width: 30%;
    padding-top: 5%;
    padding-bottom: 5%;

  }

  #CPGoTo {
    width: 35%;
    padding-bottom: 1%;
    padding-left: 1em;
  }


  #CPimg {
    width: 320px;
    margin-top: -11em;
    margin-left: 60px;
  }



   .Docs {
     width: 75%;
  }

   
  .Main {
    height: 38em;
    background-size: 180%;
    background-position: 35% 26%;
  }

  .tab label {
     font-size: 1.5em;
  }

  .tab-group {
    height:38em;
    padding-top: 13em;
    margin-top: -2.5em;
  }

   .tab-content p {
     font-size: 1em;
  }

   .footer {
     height: 4em;
     display: inline-flex;
  }

   .Copyright{
     margin-top: 2.5em;
  }

  .message {
    margin-top: .9em;
    margin-left: 4.5%;
  }
}

@media screen and (min-width: 900px) {

  .title {
    font-size: 1.8em;
     margin-top: .5em;
  }

  .nav {
    margin-top: -2.9em;
  }

  .nav li {
    font-size: 1.3em;
  }

  .top-icons li {
    padding-top: .4em;
  }

  .overlayAM {
    height: 8.5em;
  }

  .CPlogo {
    width: 300px;
  }

  .PClogo {
    width: 300px;
  }

  .Box {
    width: 300px;
  }

  .textbox {
    bottom: 5em;
  }


  .PCHeading {
    width: 400px;
    margin-left: 7em;
  }

  #BBResearchDocs {
      max-width: 60%;
    }

  #UPimg {
    max-width: 60%;
  }

  #BBUFimg {
      width: 70%;
      border: .2em solid;
      border-color: #525B5C;
    }

  #BBsketches {
  width: 70%;  
  border: .2em solid;
  border-color: #525B5C;
  }

  #BBLogo1 {
      width: 70%;
      border: .2em solid;
      border-color: #525B5C;
      margin-bottom: 2em;
    }

  #BBLogo2 {
    width: 70%;
    border: .2em solid;
    border-color: #525B5C;
    margin-bottom: 2em;
  }

  #BBFont {
    width: 70%;
    border: .2em solid;
    border-color: #525B5C;
  }

  .GoTo {
    height: 100px;
  }

  .left-GoTo {
    width: 20%;
    float: left;
    display: inline-block;
    padding-top: 2.7%;
  }

  .right-GoTo {
    width: 20%;
    float: right;
    display: inline-block;
    padding-top: 1.5%;
  }

  .center-GoTo {
    width: 60%;
    display: inline-block;
    padding-top: 3.2%;    
    }


  #ViewProjects {
    font-size: 1.7em;
    padding: 0;
  }

  #BBGoTo {
     width: 65%;
     margin-top: .4em;
     margin-left: 1em;
     padding-bottom: 2%;
  }

    #PCGoTo {
       width: 80%;
       margin-left: 2em;
       padding: 1%;
  }

  #PCGoTo2 {
    width: 75%;
    padding-top: 9%;
    padding-bottom: 5%;
  }

  #CPGoTo {
    width: 95%;
    margin-top: .2em;
    padding: 1%;
  }

  #PCDraftLogo {
    width: 25%;
  }

  #PCFinalLogo {
    width: 25%;
  }

  #PCWireframes {
    max-width: 70%;
  }

  #PCCA {
    max-width: 70%;
    margin-bottom: 3em;
  }

  .container {
    max-width: 70%;
  } 

  #CPimg {
    width: 320px;
    margin-top: -11em;
    margin-left: 60px;
  }


  .Docs {
    width: 70%;
  }

  .Main {
    background-size: 170%;
    background-position: 30% 26.5%;
    height: 39.5em;
  }

  .tab-group {
    margin-top: -3em;
    padding-top: 13em;
    height: 40em;
  }
   
   .tab label {
     font-size: 2em;
  }

   .tab-content {
     font-size: .9em;
     padding: 0 2em 0 0em;
  }

  .footer {
    height: 4em;
    display: inline-flex;
  }

  .Copyright{
    margin-top: 2.5em;
  }

  .message {
    margin-top: .8em;
    margin-left: 20%;
  }

.hvr-underline-from-center2:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: .2em;
  right: .2em;
}

@media screen and (min-width: 1025px) {
   
  .overlay {
    height: 7em;
  }

  .overlayAM {
    height: 7em;
  }

  .title {
    font-size: 1.6em;
    margin-top: .7em;
    text-align: left;
    margin-left: .9em;
    margin-bottom: 0;
  }

  .nav {
    font-size: .8em;
    text-align: left;
    margin-left: 1.3em;
    margin-top: -2em;
  }

  .top-icons {
    margin-top: .9em;
    margin-right: -2em;
  }

  .social {
    margin-top: -5.5em;
    margin-right: 1.5em;
  }

  p {
    font-size: 1.5em;
  }

  .CP1 {
    margin-top: 7em;
  }

  .Box2 {
    width: 300px;
  }

  #BBResearchDocs {
      max-width: 60%;
    }

  #UPimg {
      max-width: 60%;
    }


  #BBUFimg {
    width: 70%;
    border: .2em solid;
  border-color: #525B5C;
  }

  #BBsketches {
  width: 70%;  
  border: .2em solid;
  border-color: #525B5C;
  }

  #BBLogo1 {
      width: 70%;
      border: .2em solid;
      border-color: #525B5C;
      margin-bottom: 2em;
    }

  #BBLogo2 {
    width: 70%;
    border: .2em solid;
    border-color: #525B5C;
    margin-bottom: 2em;
  }


  #BBFont {
    width: 70%;
    border: .2em solid;
    border-color: #525B5C;
    margin-bottom: 2em;
  }

  #BBGoTo {
    margin-top: .1em;
  }


  .PCHeading {
    width: 450px;
  }

  #PCWireframes {
    max-width: 70%;
  }

  #PCCA {
    max-width: 70%;
    margin-bottom: 3em;

  }

  .container {
    max-width: 70%;
  }

  .GoTo {
    height: 100px;
  }

  .left-GoTo {
    width: 20%;
    float: left;
    display: inline-block;
    padding-top: 2.7%;
  }

  .right-GoTo {
    width: 20%;
    float: right;
    display: inline-block;
    padding-top: 1.5%;
  }

  .center-GoTo {
    width: 60%;
    display: inline-block;
    padding-top: 3.2%;    
  }


  #ViewProjects {
    padding: 0;
  }

  #BBGoTo {
     width: 65%;
     margin-top: .4em;
     margin-left: 1em;
     padding-bottom: 2%;
  }

  #PCGoTo2 {
    width: 75%;
    padding-top: 8%;
    padding-bottom: 5%;
  }

  #PCGoTo {
    width: 80%;
    margin-top: -.3em;
  }

  #CPGoTo {
    margin-top: -.3em;
  }


  #CPimg {
    width: 340px;
    margin-top: -13em;
    margin-left: 70px;
  }


  .Docs {
    width: 70%;
  }

  .Main {
     margin-top: 0;
     background-size: 170%;
     background-position: 30% 26%;
     height: 44em;
  }

  .tab-group {
     margin-top: 0em;
     padding-top: 16em;
     height: 44em;
     padding-left: 3em;
     padding-right: 3em;
  }
   
  .tab label {
     font-size: 1.9em;
  }

  .tab-content {
     font-size: .9em;
     padding: 0 2em 0 0;
  }

  .footer {
    height: 4em;
    display: inline-flex;
  }

  .Copyright{
    margin-top: 2.5em;
    margin-left: 10%;
  }

  .message {
    margin-top: .6em;
    margin-left: 20%;
  }
}

@media screen and (min-width: 1200px) {
    
   .title {
    margin-top: .7em;
    margin-left: .9em;
    margin-bottom: 0;
  }

  .nav {
    margin-left: 1.3em;
    margin-top: -1.5em;
  }

   .social {
    margin-right: 1.75em;
  }

  .top-icons {
    margin-top: .7em;
    margin-right: -6em;
  }

  p { 
   margin-left: 18%;
   margin-right: 18%; 
  }

  .CA {
    text-align: center;
  }

  #BBResearchDocs {
    max-width: 50%;
  }

  #UPimg {
      max-width: 50%;
    }

  #CAimg {
    max-width: 60%;
  }

  #BBsketches {
    width: 50%;
    border: .2em solid;
    border-color: #525B5C;
    margin-bottom: 2em;

  }

  #BBLogo1 {
    width: 40%;
    border: .2em solid;
    border-color: #525B5C;
    margin-bottom: 2em;
    }

  #BBLogo2 {
    width: 40%;
    border: .2em solid;
    border-color: #525B5C;
    margin-bottom: 2em;
  }

  #BBFont {
    width: 50%;
    border: .2em solid;
    border-color: #525B5C;
    margin-bottom: 2em;
  }

  #BBUFimg{
    width: 50%;
    border: .2em solid;
    border-color: #525B5C;
    margin-bottom: 2em;
  }

  .PCHeading {
    width: 550px;
  }

 #PCWireframes {
    max-width: 50%;
  }

  #PCCA {
    max-width: 50%;
  }

  .container {
    max-width: 50%;
  }

  .GoTo {
    height: 100px;
  }

  .left-GoTo {
    width: 20%;
    float: left;
    display: inline-block;
    padding-top: 1.7%;
  }

  .right-GoTo {
    width: 20%;
    float: right;
    display: inline-block;
    padding-top: .5%;
  }

  .center-GoTo {
    width: 60%;
    display: inline-block;
    padding-top: 2.6%;    
    }

  #BBGoTo {
     width: 60%;
     margin-top: .4em;
     margin-left: 4em;
     padding: 0;
     padding-bottom: 2%;
  }

  #PCGoTo {
       width: 70%;
       margin-left: 4em;
       padding: 0;
       margin-top: .1em;
  }

  #PCGoTo2 {
    width: 70%;
    margin-right: 4em;
    padding-top: 5%;
  }

  #CPGoTo {
    width: 75%;
    margin-top: .2em;
  }

  #CPimg {
    margin-left: 130px;
  }


  .Docs {
    width: 60%;
  }  

  .Main {
     background-size: 165%;
     background-position: 30% 25%;
     height: 44em;
  }

  .tab-group {
     padding-top: 17em;
     height: 44em;
  }

  .Button {
    padding: 1%;
  }

  .footer {
    height: 4em;
    display: inline-flex;
  }

  .Copyright{
    margin-top: 2.3em;
    margin-left: 15%;
    margin-right: 5%;
  }

  .message {
    margin-left: 18%;
  }

  .tab label {
    font-size: 2em;
  }
}

@media screen and (min-width:1300px) {

  .Copyright{
    margin-top: 2.3em;
    margin-left: 18%;
  }

  .message {
    margin-left: 18%;
  }

  .Main {
     background-size: 150%;
     background-position: 30% 26%;
     height: 46em;
  }

  .tab-group {
    height: 46em;
    padding-top: 17em;
  }


  #ViewProjects {
    margin-top: -.2em;
  }
}