header {
  background: url("../Images/Blocbox/BBbackground.png")top center no-repeat;
  text-align: left;
  background-size: cover;
  height: 40em;
}
.overlay {
  background: linear-gradient(25deg,#c43e12 0%, #781e00 96%);
  opacity:.97;
  height: 10em;
}
h1 {
  font-family: Comfortaa, Arial, Helvetica;
  font-size: 1.4em;
  margin-left: 2em;
  margin-top: 2.2em;
  color: white;
}
.nav {
  margin-left: 3em;
}
ul li {
  font-family: Comfortaa;
  font-size: .9em;
  text-decoration: none;
  text-align: left;
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}
a {
  color: white;
}
#circles {
  float: right;
}

#circles li a {
  width: 50px;
  height: 50px;
  margin-top: 3.5em;
  background: #00785c;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
}